
<% if flash[:message]  %>
    <p><%= flash[:message] %></p>
<% end %>

<%= render "games/game"%>
<div class="pull-right">
<%= paginate @games %>
<%= page_entries_info @games %>
<br/>
</div>